<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <nav class="bg-[#264653] relative">
        <div class="container flex items-center justify-center p-3 mx-auto text-white">
            <a href="#" class="border-b-2 border-transparent mx-6 sm:mx-10 text-xl">Home</a>
            <a href="#" class="border-b-2 border-transparent hover:border-white mx-6 sm:mx-10 text-xl">Over mij</a>
            <a href="#" class="border-b-2 border-transparent hover:border-white mx-6 sm:mx-10 text-xl">Services</a>
            <a href="#" class="border-b-2 border-transparent  mx-6 sm:mx-10">
                <img src="../assets/images/Logo-wit.png" alt="Pricing" class="w-48">
            </a>
            <a href="#" class="border-b-2 border-transparent hover:border-white mx-6 sm:mx-10 text-xl">Collecties</a>
            <a href="#" class="border-b-2 border-transparent hover:border-white mx-6 sm:mx-10 text-xl">Blog</a>
            <a href="#" class="border-b-2 border-transparent hover:border-white mx-6 sm:mx-10 text-xl">Contact</a>
        </div>
        <!-- Shopping Cart Icon -->
        <a href="#" class="absolute top-6 sm:right-24">
            <i class="fas fa-shopping-cart text-white text-xl"></i>
        </a>
    </nav>
</body>

</html>
